[submodule ".config/qutebrowser/qutewal"]
	path = .config/qutebrowser/qutewal
	url = https://gitlab.com/jjzmajic/qutewal
[submodule ".scripts/lf-exa-icons"]
	path = .scripts/lf-exa-icons
	url = https://github.com/mtoohey31/lf-exa-icons
[submodule ".config/spicetify/Themes"]
	path = .config/spicetify/Themes
	url = https://github.com/morpheusthewhite/spicetify-themes
[submodule ".scripts/alacritty-color-export"]
	path = .scripts/alacritty-color-export
	url = https://github.com/mtoohey31/alacritty-color-export
[submodule "repos/clean-imports/vendor/tree-sitter-java"]
	path = repos/clean-imports/vendor/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
