configuration {
  font:                  "JetBrainsMono Nerd Font 14";
  show-icons:            true;
  drun-display-format:   "{icon}{name}";
  display-run:           ">";
  display-drun:          "";
  display-window:        "";
  modi:                  "window,run,drun";
  window-format:         "{w} {c} {t}";
}

@theme "~/.cache/wal/colors-rofi-dark.rasi"

#window {
  padding: 1ch;
}
